<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="//oss.maxcdn.com/libs/reveal.js/2.5/css/reveal.min.css">
        <link type="text/css" rel="stylesheet" href="//oss.maxcdn.com/libs/reveal.js/2.5/css/theme/default.css">
        <link type="text/css" rel="stylesheet" href="//oss.maxcdn.com/libs/reveal.js/2.5/lib/font/league_gothic-webfont.ttf">
        <link type="text/css" rel="stylesheet" href="//oss.maxcdn.com/libs/reveal.js/2.5/lib/font/league_gothic-webfont.svg">
<!--        <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">-->
        <script src="//oss.maxcdn.com/libs/angular.js/1.2.5/angular.min.js"></script>
        <script src="//oss.maxcdn.com/libs/moment.js/2.4.0/moment.min.js"></script>
        <script src="//oss.maxcdn.com/libs/reveal.js/2.5/plugin/highlight/highlight.js"></script>
        <script src="stuff.js"></script>
        <script src="ivYearsMonths/ivYearsMonths.drtv.js"></script>

        <style>
            .reveal section img.logo {
                background: none;
                border: 0px;
                height: 80px;
                width: 80px;
                margin: 0px;
            }
        </style>
    </head>
    <body>
        <div class="reveal" ng-app="app">
            <div class="slides">
                <section id="about">
                    <section  id="me">
                        <h2>Chris Matheson</h2>
                        <br>
                        <a>@chrismatheson</a>
                        <br>
                        <a>github.com/chrismatheson</a>
                        <br>
                        <a>#mancjs</a>
                    </section>
                    <section id="tme">
                        <h2>
                            <i>"Profesional"</i>developer</h2>
                        <br>
                        <p>for</p>
                        <br>
                        <countup since="05/16/2013" interval="1000">
                            <b>{{months}}</b>Months
                            <b>{{days}}</b>Days
                            <b>{{hours}}</b>Hours
                            <b>{{minutes}}</b>Minutes
                            <b>{{seconds}}</b>seconds</b>
                        </countup>
                    </section>
                    <section  id="you">
                        <h1>NO EXCUSES!</h1>
                    </section>
                </section>
                <section id="ivendi">
                    <img src="ivendi-logo-background_360.png">
                    <br>
                    <p>iVendi is a used/new car finance system</p>
                    <p>providing finance services for dealerships</p>
                    <br>
                    <p>Check it out --
                        <a href="http://www.ivendi.com">http://www.ivendi.com</a>
                    </p>
                </section>
                <section>
                    <h1>Technologies</h1>
                    <p>
                        <h3>Client Side</h3>
                        <img class="logo" alt="angular" src="ng-logo.png">
                        <img class="logo" alt="jQuery" src="https://avatars.githubusercontent.com/u/70142">
                        <img class="logo" alt="lo-dash" src="https://avatars.githubusercontent.com/u/2565403">
                        <img class="logo" alt="moment" src="https://avatars.githubusercontent.com/u/4129662">
                        <img class="logo" alt="less" src="http://lesscss.org/public/img/logo.png">
                    </p>
                    <p>
                        <h3>Build Tools</h3>
                        <img class="logo" alt="vagrant" src="vagrant-logo.png">
                        <img class="logo" alt="gulp" src="https://avatars.githubusercontent.com/u/6200624">
                        <img class="logo" alt="jasmine" src="http://jasmine.github.io/images/jasmine_vertical.png">
                        <img class="logo" alt="karma" src="https://avatars.githubusercontent.com/u/3284117">
                        <img class="logo" alt="teamcity" src="http://build.ivendi.com:8080/teamcity/img/icons/TeamCity32.png">
                        <img class="logo" alt="azure" src="https://avatars.githubusercontent.com/u/1065621">
                        <img class="logo" alt="joyent" src="https://avatars.githubusercontent.com/u/10161">
                    </p>
                    <p>
                        <h3>Backend</h3>
                        <img class="logo" alt="elastic search" src="https://avatars.githubusercontent.com/u/141304">
                        <img class="logo" alt="nancyFx" src="https://avatars.githubusercontent.com/u/706659">
                        <img class="logo" alt="cqrs" src="http://gyazo.com/87d68364e1812a2156513ce49277d483.png">
                        <img class="logo" alt="neo4j" src="https://avatars.githubusercontent.com/u/201120">
                        <img class="logo" alt="mongodb" src="https://avatars.githubusercontent.com/u/45120">
                        <img class="logo" alt="rabitmq" src="https://avatars.githubusercontent.com/u/96669">
                    </p>
                    </ul>
                </section>
                <section>
                    <h1>Walkthrough</h1>
                    <p>
                        <a href="http://siam.ivendi.com/platform/prospects">Dealer Application</a>
                        <a href="http://uat.appform.newvehicle.com/proposal/welcome?quoteid=5239dcb0-74b7-414b-b19c-e13c5e9087aa&b=NV">NewVehicle</a>
                    </p>
                </section>
                <section id="custom-validators">
                    <h3>Custom validators</h3>
                    <code>
                        <form name="exampleA">
                            <div class="fragment" data-fragment-index="0">
                                <p>Valid while exactly 6 digits</p>
                                <input name="sortcode" ng-model="sorted" type="sortcode">Valid: {{exampleA.$valid}}</div>
                        </form>
                        <form name="exampleB">
                            <div class="fragment" data-fragment-index="1">
                                <p>valid when over 18</p>
                                <input name="age" ng-model="age" type="text" min-age="18">Valid: {{exampleB.$valid}}</div>
                        </form>
                    </code>
                </section>
                <section id="custom-binding">
                    <h3>Binding</h3>
                    <p>Magic</p>
                    <img src="http://media.giphy.com/media/LmudG3zH559fO/giphy.gif">
                </section>
                <section id="custom-control">
                    <label>Total Months : {{months}}</label>
                    <iv-years-months ng-model="months"></iv-years-months>
                </section>
                <section id="routes">
                    <h3>Angular from non root location</h3>
                    <ul>
                        <li>relative URL's are not your friend</li>
                        <li>when(&lt;url&gt;) does not obey &lt;base&gt;</li>
                    </ul>
                </section>
                <section id="resolve">
                    <h3>View Management</h3>
                    <pre>
                        <code class="javascript">
    .when('/platform/consumerprospects/:id/finance', {
        templateUrl: 'consumerprospects/finance.tpl.html',
        controller: 'ConsumerFinanceController',
        auth: true,
        reloadOnSearch: false,
        resolve: {
            consumerProspect: function () {
                return //doing some stuff and returning POJS;
            }]
        }
    })
    .controller('ConsumerFinanceController', ['consumerProspect', function (consumerProspect) {
        'use strict';
                        </code>
                    </pre>
                </section>
                <section id="partial-views">
                    <h3>Partial Views</h3>
                    <ul>
                        <li>Example: accordian within prospect page</li>
                        <li>Components: &lt;iv-bank&gt; <small>more on this in a bit</small></li>
                        <li>No Clue&#39;s how to do this</li>
                        <li>ui.router &#40;not tried it yet&#41;</li>
                    </ul>
                </section>
                <section id="components">
                    <h3>Components</h3>
                    <ul>
                        <li>&lt;custom-elements&gt;&lt;/custom-elements&gt;</li>
                        <li>isolated scope and inherited scope</li>
                    </ul>
                </section>
                <section id="trolling">
                    <h3>Grunt vs Gulp.</h3>
                    <div>
                        <video id="grunt" src="http://dl.dropboxusercontent.com/u/4582414/grunt.mov" style="float:left; width:50%;" onprogress="setGruntProg(this)"></video>
                        <video id="gulp" src="http://dl.dropboxusercontent.com/u/4582414/gulp.mov" style="float:left; width:50%;" onprogress="setGulpProg(this)"></video>
                    </div>
                    <button onclick="playAllVideo()"><h1>Fight!</h1></button>
                </section>
                <section>
                    <h1>Open Source</h1>
                    <a href="http://ivendi.github.io/iv-utils/examples">iv-utils</a>
                </section>
            </div>
        </div>
        <script type="application/javascript" src="//oss.maxcdn.com/libs/reveal.js/2.5/lib/js/head.min.js"></script>
        <script type="application/javascript" src="//oss.maxcdn.com/libs/reveal.js/2.5/lib/js/classList.js"></script>
        <script src="//oss.maxcdn.com/libs/reveal.js/2.5/js/reveal.min.js"></script>
        <script type="application/javascript">
            Reveal.initialize({
                dependencies: [
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ]
            });
        </script>
    </body>

</html>
